# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Environment files
.env
.env.*

# VSCode
.vscode/

# Logs
*.log

# Others
*.swp
*.swo
.idea/
*.sublime-workspace
*.sublime-project 